<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="Eu.Europa.Ec.Olaf.GmsrServices.RestWebService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="Eu.Europa.Ec.Olaf.GmsrServices.IRest" behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>


  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->

    <!-- Prod: s-olaf-prod17 GetSMC_SR5 GMSr -->
    <add name="GetSmcEntities" connectionString="metadata=res://*/GetSmcDataModel.csdl|res://*/GetSmcDataModel.ssdl|res://*/GetSmcDataModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=s-olaf-prod17;Initial Catalog=GetSMC_SR5;User Id=GMSr;Password=GMSr1;Trusted_Connection=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <!-- compaq8710polaf GMS integrated -->
    <!--<add name="GmsrEntities" connectionString="metadata=res://*/GmsrDataModel.csdl|res://*/GmsrDataModel.ssdl|res://*/GmsrDataModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=compaq8710polaf;Initial Catalog=GMS;Integrated security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

    <!-- compaq8710polaf GMS3 integrated -->
    <!--<add name="GmsrEntities" connectionString="metadata=res://*/GmsrDataModel.csdl|res://*/GmsrDataModel.ssdl|res://*/GmsrDataModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=compaq8710polaf;Initial Catalog=GMS3;Integrated security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

    <!-- Test: s-olaf-vprod137 GMS1 GMSr -->
    <!--<add name="GmsrEntities" connectionString="metadata=res://*/GmsrDataModel.csdl|res://*/GmsrDataModel.ssdl|res://*/GmsrDataModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=s-olaf-vprod137;Initial Catalog=GMS1;User Id=GMSr;Password=GMSr1;Trusted_Connection=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

    <!-- Prod: s-olaf-vprod137 GMS2 GMSr -->
    <!--<add name="GmsrEntities" connectionString="metadata=res://*/GmsrDataModel.csdl|res://*/GmsrDataModel.ssdl|res://*/GmsrDataModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=s-olaf-vprod137;Initial Catalog=GMS2;User Id=GMSr;Password=GMSr1;Trusted_Connection=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

    <!-- Prod: s-olaf-vprod137 GMS3 GMSr -->
    <add name="GmsrEntities" connectionString="metadata=res://*/GmsrDataModel.csdl|res://*/GmsrDataModel.ssdl|res://*/GmsrDataModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=s-olaf-vprod137;Initial Catalog=GMS3;User Id=GMSr;Password=GMSr1;Trusted_Connection=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <!-- Test: s-olaf-vprod137 GMS4 GMSr -->
    <!--<add name="GmsrEntities" connectionString="metadata=res://*/GmsrDataModel.csdl|res://*/GmsrDataModel.ssdl|res://*/GmsrDataModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=s-olaf-vprod137;Initial Catalog=GMS4;User Id=GMSr;Password=GMSr1;Trusted_Connection=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

    <!-- Prod: s-olaf-prod70 GMS GMSr -->
    <!--<add name="GmsrEntities" connectionString="metadata=res://*/GmsrDataModel.csdl|res://*/GmsrDataModel.ssdl|res://*/GmsrDataModel.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;Data Source=s-olaf-prod70;Initial Catalog=GMS;User Id=GMSr;Password=GMSr1;Trusted_Connection=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>

</configuration>
