<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="logoOlaf" value="~/Images/LogoOlaf.png" />
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <!-- Prod Database: s-olaf-prod17 GetSMC_SR5 GMSr (EntityClient) -->
    <add name="GetSmcEntities" connectionString="metadata=res://*/GetSmcDataModel.csdl|res://*/GetSmcDataModel.ssdl|res://*/GetSmcDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s-olaf-prod17;Initial Catalog=GetSMC_SR5;User Id=GMSr;Password=GMSr1;Trusted_Connection=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!-- *************************************************************************************************** -->
    <!-- Prod Database: s-olaf-prod70 GMS GMSr (EntityClient) -->
    <add name="GmsrEntities" connectionString="metadata=res://*/GmsrDataModel.csdl|res://*/GmsrDataModel.ssdl|res://*/GmsrDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=s-olaf-prod70;Initial Catalog=GMS;User Id=GMSr;Password=GMSr1;Trusted_Connection=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!-- *************************************************************************************************** -->
    <!-- Prod Database: s-olaf-prod70 GMS GMSr (SqlClient) -->
    <add name="GMSrDB" connectionString="Server=s-olaf-prod70; Database=GMS; User Id=GMSr; password=GMSr1;" providerName="System.Data.SqlClient"/>
    <!-- *************************************************************************************************** -->
    <!-- Prod Database: s-olaf-vprod223 LANDesk (SqlClient) -->
    <add name="LANDesk" connectionString="Data Source=S-OLAF-VPROD223;Initial Catalog=LDMS90;User ID=GMSr; Password=GMSr1" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" xdt:Transform="Replace">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <customErrors mode="On" defaultRedirect="Oops.aspx" xdt:Transform="Replace">
    </customErrors>

    <healthMonitoring enabled="true" xdt:Transform="Replace">
      <eventMappings>
        <clear/>
        <!-- Log ALL error events -->
        <add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647"/>
        <!-- Log application startup/shutdown events -->
        <add name="Application Events" type="System.Web.Management.WebApplicationLifetimeEvent" startEventCode="0" endEventCode="2147483647"/>
      </eventMappings>
      <providers>
        <clear/>
        <add connectionStringName="GMSrDB" maxEventDetailsLength="1073741823" buffer="false" name="SqlWebEventProvider" type="System.Web.Management.SqlWebEventProvider"/>
      </providers>
      <rules>
        <clear/>
        <add name="All Errors Default" eventName="All Errors" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
        <add name="Application Events Default" eventName="Application Events" provider="SqlWebEventProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
      </rules>
    </healthMonitoring>
  </system.web>
</configuration>